<html>
  <head>
    <title>Mind Twister</title>
    <link rel="stylesheet" href="mindtwister.css">
    <script src="angular.js"></script>
    <script src="lodash.js"></script>
  </head>
  <body ng-app="MindTwister">
    <div ng-controller="mtCtrl as $ctrl">
      <h1>{{$ctrl.title}}</h1>
      <button ng-click="$ctrl.start()">Start</button>
      <table>
        <tr ng-repeat="state in $ctrl.output">
          <td>{{$index}}</td>
          <td ng-repeat="hole in state.holes" class="{{hole.peg.color}}">{{hole.peg.label}}</td>
        </tr>
      </table>
    </div>
    <script src="mindtwister.js"></script>
  </body>
</html>
